registry=http://registry.npmjs.org/
strict-ssl=false
legacy-peer-deps=true
@nativescript:registry=http://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
node-options=--no-warnings